---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import FormattedDate from '@components/FormattedDate.astro'
import PostNavigation from '@components/PostNavigation.astro'

import { getMergedPosts } from '@utils/content'
const posts = await getMergedPosts()
const currentPost = posts.findIndex((post) => post.id === Astro.props.id)

type Props = CollectionEntry<'blog'>['data'] & { id: string }

const { title, description, date, updatedDate, id, atUri } = Astro.props
const ogImage = `/og/${id}.png`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<BaseLayout
  title={title}
  description={description}
  image={ogImage}
  atUri={atUri}
>
  <div class="blogpost">
    <div class="title">
      <h1>{title}</h1>
      <div class="date">
        <FormattedDate date={date} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <slot />
    <atmentions-reactions
      data-url={canonicalURL.href}
      data-aturi={atUri}
      variant="minimal"
    />
    <PostNavigation
      prev={posts[currentPost + 1] ? { id: posts[currentPost + 1].id, title: posts[currentPost + 1].data.title } : undefined}
      next={posts[currentPost - 1] ? { id: posts[currentPost - 1].id, title: posts[currentPost - 1].data.title } : undefined}
    />
  </div>
</BaseLayout>
