---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import FormattedDate from '@components/FormattedDate.astro'

import { getCollection } from 'astro:content'
type PostEntry = { id: string; data: { title: string; date: Date } }
const posts = (
  [
    ...(await getCollection('blog')),
    ...(await getCollection('activities'))
  ] as PostEntry[]
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
const currentPost = posts.findIndex((post) => post.id === Astro.props.id)

const nextPost = posts[currentPost - 1]
const previousPost = posts[currentPost + 1]

type Props = CollectionEntry<'blog'>['data'] & { id: string }

const { title, description, date, updatedDate, id } = Astro.props
const ogImage = `/og/${id}.png`
---

<BaseLayout title={title} description={description} image={ogImage}>
  <div class="blogpost">
    <div class="title">
      <h1>{title}</h1>
      <div class="date">
        <FormattedDate date={date} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
    </div>
    <slot />
    <div class="post-navigation">
      {
        previousPost ? (
          <a href={`/${previousPost.id}/`} class="prev">
            ‹ {previousPost.data.title}
          </a>
        ) : null
      }
      {
        nextPost ? (
          <a href={`/${nextPost.id}/`} class="next">
            {nextPost.data.title} ›
          </a>
        ) : null
      }
    </div>
  </div>
</BaseLayout>
